:root {
  --accent-color: var(--accent-color) #2196f3;
  --main-colour: #212121;
  --second-colour: #757575;
  --main-title-color: #ffffff;
  --button-color: #ffffff;
  --p-color: #757575;
  --adress-color: #ffffff;

}

/*універсальний селектор */

/** {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;}*/


span {
  color: #2196f3;
}

.main-title h1{
text-transform: uppercase;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.3;
color: #FFFFFF;
text-align: center;
margin-top: 0;
}

.box {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.main-title{
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-color: #2F303A;
  max-width: 1600px;
  
}


.header-link {
color: #757575;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;

}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.email {
  display: flex;
  margin-left: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  }
  .email li:not(:last-child) {
    margin-right: 50px;
  }

.studio-link{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  margin-right: 93px;
  }

.container-button {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-colour);
  background-color: #F5F4FA;
  border-radius: 4px; 
  
 }

.container-buttons:hover,
:focus {color: white;
}

.buttons >.button-list:not(:last-child) {
margin-right: 8px;
}

.button-one {
text-align: center;
cursor: pointer;
padding: 6px 22px;
background-color: #F5F4FA;
border: transparent;
border-radius: 4px;
font-family: Roboto;
font-weight: 500;
}

.button-one:hover,
.button-one:focus {
  color: white;
  background-color: #2196F3;

}

/* selector of tag ul and a*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  color1 inherit;
}
}
.darkFontSecond {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
}
/*section {
  background: #e5e5e5;*/
}
.page {
  border: 1px solid black;
}
header {
border-bottom: 1px solid #ECECEC;
padding-top: 24px;
padding-bottom: 24px;
}

/*section {
  background: #e5e5e5;*/
}

h1 {
  display: inline-block;
 list-style: none;
 margin: 0;
 padding: 0;
 margin-top: 0;
 margin-bottom: 30px;
}
.container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: center;
  border-bottom: 1px solid transparent;
}
.navigation a {
  align-items: center;
  display: flex;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  color: var(--main-colour);
}
.navlist {
display: flex;
margin-top: 32px;
margin-bottom: 32px;
margin-left: 93px;
width: 294px;
}

.descript{
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}
c

.contactlist {
  display: flex;
  margin-left: auto;
}


.options {
  display: flex;
  /*margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 93px;
  width: 294px;*/
  justify-content: space-between;
  }

.options li:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
}

.buttons {
display: flex;
justify-content: center;
margin-bottom: 50px;
}

.button-first:hover,
.button-first:focus {
  color: white;
  background-color: #2196F3;

}


.button-first  {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.8;
  color: var(--button-color);
  background-color: #2196F3;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 32px;
  border: 1px solid #2196F3;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h3{
  list-style: none;
 margin: 0;
 padding: 0;
 margin-bottom: 10px;
}
p{
 margin: 0;
 padding: 0;
}

.small-border{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}
.small-border-two{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}
.small-border-three{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}
.small-border-four{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}
.details-section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.container-details{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.container-details h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  color: var(--main-colour);
}
.container-details p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--second-colour);
}
.small-title {
  margin-bottom: 10px;
}


 h2{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  color: var(--main-colour);
  
}
.container-pics{
width: 1200px;
padding-left:15px ;
padding-right: 15px;
margin: 0 auto;
padding-bottom: 94px;
}

.card-set {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card-set >.item:not(:last-child) {
margin-right: 30px;
}
.item {
  display: block;
}
.container-team{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F4FA;
}

.team-section{
  padding-top: 94px;
  padding-bottom: 94px ;
  background-color:#F5F4FA;
}
.my-team {
 display: flex;
margin: 0;
padding: 0;
list-style: none;
}

.my-team > .team-items:not(:last-child) {
margin-right: 30px;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  color: var(--main-colour);
  text-align: center;
  list-style: none;
 margin: 0;
 padding: 0;
 margin-bottom: 50px;
}



.container-third h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--main-colour);
}

.container-third p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: var(--p-color);
}

footer {
padding-top: 60px;
padding-bottom: 60px;
background-color: #2f303a;
}

.last-container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  
  
}
.last-container p{
font: Roboto;
font-weight: 400px;
list-style: normal;
Size: 14px;
color: #ffffff;
margin-bottom: 9px;

}
.container-adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  color: white;
 
}

.container-adress li {
  color: var(-adress-color);
}

.website-name-footer {
  color: #ffffff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;
  display: block;
}

.one {
  margin-bottom: 9px;
}
.website-name-footer a {
  margin-bottom: 20px;
}

.bigger-section{
padding-top: 94px;
padding-bottom: 94px;
}
.big-border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.container-pictures{
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.first-pics{
padding: 0;
margin: 0;
list-style: none;
display: flex;
flex-wrap: wrap;
margin-left: -30px;
margin-top: -30px;
/*width: 1170px;
margin: 0 auto;*/
}

.first-pics >.last-pics{
margin-left: 30px;
flex-basis: calc(100% / 3 - 30px);
margin-top: 30px;

}

/*.last-pics {
flex-basis: calc((100% - 30)/ 3);
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-sizing: border-box;
justify-content: space-between
}*/


.team-items {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}

h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--main-colour);
  margin: 20px 0 4px 0;
  list-style: none;
 margin: 0;
 padding: 0;
}

h5 {
  /*font-family: Roboto;*/
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: var(--second-colour);
  list-style: none;
  margin: 0;
  padding: 0;
}
